nvim/plugin/**
fish/completions/**
fish/functions/**
fish/fish_plugins
fish/fish_variables
!fish/functions/explorer.fish
!fish/functions/gaExplorer.fish
!fish/functions/ls.fish
!fish/functions/pip.fish
!fish/functions/vim.fish
