JetBrains/**
dconf/**
enchant/**
evolution/**
gedit/**
gnome-initial-setup-done
goa-1.0/**
google-chrome/**
gtk-3.0/**
ibus/**
menus/**
mimeapps.list
pulse/**
user-dirs.dirs
user-dirs.locale
rst-automation/**
nvim/.netrwhist
onedrive/**
terminator/**
htop/**
Code/**
QtProject.conf**
QtProject/**
SEGGER/**
gnome-games/**
gtk-2.0/**
libreoffice/**
monitors.xml**
monitors.xml~**
nautilus/**
rclone/**
sqlitebrowser/**
vscode-sqltools/**

remmina
