*

!.gitignore
!.gitmodules

!nvim
!nvim/**

!jetbrains
!jetbrains/**

!starship.toml

!fish
!fish/**

!git
!git/**

!bash
!bash/**

!nixpkgs
!nixpkgs/**

!tmux
!tmux/**

!inputrc

!conan
!conan/**

!alacritty
!alacritty/**
