snippet service
[Unit]
Description=$1
Requires=
After=

[Service]
Type=$2
ExecStart=$3
Restart=

[Install]
WantedBy=multi-user.target
endsnippet

snippet path
[Path]
PathChanged=$1

[Install]
WantedBy=multi-user.target
endsnippet
